<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a la libreria, <%= @user.name %></h1>
    <p>
      Has podido obtener el siguiente libro <%= @book.title %>
    </p>
    <p>
      Recuerda devolver el libro la fecha <%= @book.return_date %>
    </p>
    <p>Muchas gracias y suerte en tu lectura</p>
  </body>
</html>